html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer {
    font-family: "Microsoft YaHei", Arial, Tahoma, "Hiragino Sans GB W3";
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

button, input {
    outline: medium;
}

ul, ol {
    list-style: none;
}

i {
    font-style: normal;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    box-sizing: content-box;
    height: 0;
}

code,
kbd,
pre,
samp {
    font-family: Monaco, Consolas, monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

form {
    margin: 0;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    box-shadow: none;
    border: none;
}

button,
select {
    text-transform: none;
}

button {
    font-family: "microsoft yahei";
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
    background: none;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

mark {
    background: #ff0;
    color: #666666;
}

figure {
    margin: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button {
    border: none;
    background: none;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    max-height: 100%;
}

html, body {
    font-size: 32px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.uploadImgCotainer {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.uploadImgCotainer .imgUpArea {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.uploadImgCotainer .uploadImgBtn {
    position: relative;
    width: 500px;
    height: 230px;
    background: #fff url(/images/wireframe_grey.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 50px;
    padding-top: 170px;
}

.uploadImgCotainer .uploadImgBtn .uploadImg img {
    display: block;
    width: 40px;
    margin: auto;
}

.uploadImgCotainer .uploadImgBtn .uploadImg span {
    font-size: 14px;
    color: #AAAAAA;
    display: inline-block;
}

.uploadImgCotainer .uploadImgBtn .uploadImg input {
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    width: 500px;
    height: 400px;
    opacity: 0;
    cursor: pointer;
}

.uploadImgCotainer .btnPut {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.uploadImgCotainer .btnPut .analysisCheck {
    width: 110px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    background: #2899E6;
    border-radius: 100px;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
}

.uploadImgCotainer .btnPut .analysisCheck.gray {
    color: #333;
    background: #e7e7e7;
}

.uploadImgCotainer .btnPut .analysisCheck input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uploadImgCotainer .changeImgBox {
    width: 500px;
    height: 400px;
    margin: 0 auto 50px;
    position: relative;
}

.uploadImgCotainer .changeImgBox img {
    width: 100%;
    height: 100%;
}

.uploadImgCotainer .imgChangePopup {
    background: rgba(10, 30, 43, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    text-align: center;
}

.uploadImgCotainer .imgChangePopup .uploading {
    opacity: 0.8;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 126px;
    line-height: 12px;
    margin-bottom: 6px;
}

.uploadImgCotainer .imgChangePopup .uploading i {
    display: block;
    width: 28px;
    height: 28px;
    background: url(/images/loading.png) no-repeat;
    margin: 0 auto 15px;
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}

.uploadImgCotainer .imgChangePopup .uploading span {
    color: #fff;
}

.uploadImgCotainer .readingTips {
    color: #808080;
    margin-top: 20px;
    font-size: 24px;
}

.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(10, 30, 43, 0.7);
}

.popupBox .popupMain {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    max-width: 1500px;
    max-height: 700px;
}

.popupBox .popupMain img {
    max-width: 1500px;
    max-height: 700px;
}

.popupBox .al-ad-delivery-close {
    width: 50px;
    height: 50px;
    background: url(/images/close-popup_pc.png) no-repeat center 50%;
    background-size: cover;
    position: absolute;
    top: -50px;
    right: -63px;
    cursor: pointer;
}

.al-middleTipsBox {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    pointer-events: none;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
}

.al-middleTipsBox:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.al-middleTipsModal {
    background-color: rgba(10, 30, 43, 0.7);
    text-align: center;
    color: #fff;
    z-index: 9;
    border-radius: 22px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

.al-middleTipsModal .al-middleTipsModalText {
    display: inline-block;
}

.al-middleTipsModal .al-loading {
    display: inline-block;
    margin-bottom: 10px;
}

.al-middleTipsModal .al-loading img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.al-middleTipsModal .al-loadingFinish {
    display: none;
}

.al-middleTipsModal .al-loadingFinish img {
    width: 2.4375rem;
    height: 1.625rem;
    vertical-align: top;
}

.al-middleTipsModal.ev-showStatus {
    background-color: rgba(10, 30, 43, 0.7);
}

.ev-commTips {
    background-color: rgba(10, 30, 43, 0.7);
    opacity: 0;
    -ms-transform: scale(0);
        transform: scale(0);
    -webkit-transform: scale(0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.ev-commTips.show {
    opacity: 1;
    -ms-transform: scale(1);
        transform: scale(1);
    -webkit-transform: scale(1);
}

.ev-loading {
    background-color: rgba(10, 30, 43, 0);
}

.upProgress {
    font-size: 22px;
}

.or-popupBox {
    display: none;
    background-color: rgba(10, 30, 43, 0.7);
    text-align: center;
    color: #fff;
    z-index: 9;
    border-radius: 22px;
    box-sizing: border-box;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    min-width: 400px;
    min-height: 100px;
    line-height: 100px;
}

.or-popupBox.show {
    display: inline-block;
}

.or-popupBox .or-popupText {
    display: inline-block;
}

.or-popupBox .or-popupText .tipText {
    font-size: 20px;
}

@media (max-width: 750px) {
    .uploadImgCotainer {
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .uploadImgCotainer .uploadImgBtn {
        position: relative;
        width: 15.625rem;
        height: 8.125rem;
        background: #fff url(/images/wireframe_grey.png) no-repeat;
        background-size: 100% 100%;
        margin: 0 auto 1.5625rem;
        padding-top: 4.375rem;
    }
    .uploadImgCotainer .uploadImgBtn .uploadImg img {
        display: block;
        width: 2.5rem;
        margin: auto;
    }
    .uploadImgCotainer .uploadImgBtn .uploadImg span {
        font-size: 1rem;
        color: #AAAAAA;
        display: inline-block;
    }
    .uploadImgCotainer .uploadImgBtn .uploadImg input {
        position: absolute;
        left: 0;
        top: 0;
        outline: none;
        width: 15.625rem;
        height: 12.5rem;
        opacity: 0;
        cursor: pointer;
    }
    .uploadImgCotainer .btnPut .analysisCheck {
        width: 6rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
        border-radius: 3.125rem;
        margin-right: 1rem;
    }
    .uploadImgCotainer .readingTips {
        margin-top: 1.25rem;
        font-size: 1.09375rem;
    }
    .uploadImgCotainer .changeImgBox {
        width: 15.625rem;
        height: 12.5rem;
        margin: 0 auto 1.5625rem;
        position: relative;
    }
    .uploadImgCotainer .changeImgBox img {
        width: 100%;
        height: 100%;
    }
    .popupBox .popupMain {
        max-width: 18.125rem;
        max-height: 25rem;
    }
    .popupBox .popupMain img {
        max-width: 18.125rem;
        max-height: 25rem;
    }
    .popupBox .al-ad-delivery-close {
        width: 2.1875rem;
        height: 2.1875rem;
        top: -2.1875rem;
        right: -2.5rem;
    }
    .al-middleTipsBox {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        pointer-events: none;
        z-index: 3;
        background: rgba(0, 0, 0, 0.6);
    }
    .al-middleTipsBox:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .al-middleTipsModal {
        padding: 0 0.9375rem;
        background-color: rgba(10, 30, 43, 0.7);
        text-align: center;
        color: #fff;
        z-index: 9;
        border-radius: 0.3125rem;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        min-width: 10rem;
        min-height: 3.125rem;
    }
    .al-middleTipsModal .al-middleTipsModalText {
        display: inline-block;
    }
    .al-middleTipsModal .al-loading {
        display: inline-block;
        margin-bottom: 0.875rem;
        margin-top: 0.5625rem;
    }
    .al-middleTipsModal .al-loading img {
        width: 1.875rem;
        height: 1.875rem;
        vertical-align: top;
    }
    .al-middleTipsModal .al-loadingFinish {
        display: none;
    }
    .al-middleTipsModal .al-loadingFinish img {
        width: 2.4375rem;
        height: 1.625rem;
        vertical-align: top;
    }
    .al-middleTipsModal.ev-showStatus {
        background-color: rgba(10, 30, 43, 0.7);
    }
    .or-popupBox {
        padding: 0 0.9375rem;
        background-color: rgba(10, 30, 43, 0.7);
        text-align: center;
        color: #fff;
        z-index: 9;
        border-radius: 0.3125rem;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        min-width: 10rem;
        min-height: 3.125rem;
        line-height: 3.125rem;
    }
    .or-popupBox .or-popupText .tipText {
        font-size: 1rem;
    }
    .ev-commTips {
        background-color: rgba(10, 30, 43, 0.7);
        opacity: 0;
        -ms-transform: scale(0);
            transform: scale(0);
        -webkit-transform: scale(0);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
    }
    .ev-commTips.show {
        opacity: 1;
        -ms-transform: scale(1);
            transform: scale(1);
        -webkit-transform: scale(1);
    }
    .ev-loading {
        background-color: rgba(10, 30, 43, 0);
    }
    .upProgress {
        font-size: 1.09375rem;
    }
}
